* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(20, 20, 82);
}

a {
  position: relative;
  width: 12rem;
  height: 4.2rem;
  font-size: 1.6rem;
  font-family: sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background: rgb(20, 20, 82);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: 1s;
  overflow: hidden;
}
a:hover {
  background: rgb(0, 183, 255);
  color: rgb(3, 32, 44);
  box-shadow: 0px -10px 40px 10px rgba(23, 83, 107, 0.8);
  transition: 1s;
  transition-delay: 2.4s;
  -webkit-box-reflect: below 10px linear-gradient(transparent, #0004);
}
a:hover span:nth-child(1) {
  position: absolute;
  top: 0;
  left: -100%;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, rgb(9, 5, 46), rgb(0, 183, 255));
  animation: animate1 0.5s linear 1;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  100% {
    left: 10%;
  }
}
a:hover span:nth-child(2) {
  position: absolute;
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, rgb(9, 5, 46), rgb(0, 183, 255));
  animation: animate2 0.5s linear 1;
  animation-delay: 0.45s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  100% {
    top: 10%;
    opacity: 0.8;
  }
}
a:hover span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: -100%;
  height: 2px;
  width: 100%;
  background: linear-gradient(to left, rgb(9, 5, 46), rgb(0, 183, 255));
  animation: animate3 0.5s linear 1;
  animation-delay: 0.95s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  100% {
    right: 10%;
  }
}
a:hover span:nth-child(4) {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, rgb(9, 5, 46), rgb(0, 183, 255));
  animation: animate4 0.5s linear 1;
  animation-delay: 1.4s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 10%;
  }
}
